macro_dr_right: macro_dr_right{
compatible = "zmk,behavior-macro";
label = "macro_dr_right";
#binding-cells = <0>;
bindings = <&macro_press &kp K>, <&macro_press &kp N1>, <&macro_tap &kp F>, <&macro_tap &kp F>, <&macro_release &kp K>, <&macro_release &kp N1>;
};
macro_dr_left: macro_dr_left{
compatible = "zmk,behavior-macro";
label = "macro_dr_left";
#binding-cells = <0>;
bindings = <&macro_press &kp K>, <&macro_press &kp N1>, <&macro_tap &kp S>, <&macro_tap &kp S>, <&macro_release &kp K>, <&macro_release &kp N1>;
};
macro_sa_lash_right: macro_sa_lash_right{
compatible = "zmk,behavior-macro";
label = "macro_sa_lash_right";
#binding-cells = <0>;
bindings = <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_release &kp F>, <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_tap &kp N2>, <&macro_release &kp F>;
};
macro_sa_lash_left: macro_sa_lash_left{
compatible = "zmk,behavior-macro";
label = "macro_sa_lash_left";
#binding-cells = <0>;
bindings = <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_release &kp S>, <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_tap &kp N2>, <&macro_release &kp S>;
};
macro_sa_ryu_right: macro_sa_ryu_right{
compatible = "zmk,behavior-macro";
label = "macro_sa_ryu_right";
#binding-cells = <0>;
bindings = <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_release &kp F>, <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_tap &kp L>, <&macro_release &kp F>;
};
macro_sa_ryu_left: macro_sa_ryu_left{
compatible = "zmk,behavior-macro";
label = "macro_sa_ryu_left";
#binding-cells = <0>;
bindings = <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_release &kp S>, <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_tap &kp L>, <&macro_release &kp S>;
};
macro_sa_jin_right: macro_sa_jin_right{
compatible = "zmk,behavior-macro";
label = "macro_sa_jin_right";
#binding-cells = <0>;
bindings = <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_release &kp S>, <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_tap &kp N2>, <&macro_release &kp S>;
};
macro_sa_jin_left: macro_sa_jin_left{
compatible = "zmk,behavior-macro";
label = "macro_sa_jin_left";
#binding-cells = <0>;
bindings = <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_release &kp F>, <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_tap &kp N2>, <&macro_release &kp F>;
};
macro_dash_right: macro_dash_right{
compatible = "zmk,behavior-macro";
label = "macro_dash_right";
#binding-cells = <0>;
bindings = <&kp F>, <&kp F>;
};
macro_dash_left: macro_dash_left{
compatible = "zmk,behavior-macro";
label = "macro_dash_left";
#binding-cells = <0>;
bindings = <&kp S>, <&kp S>;
};
macro_right_dragon: macro_right_dragon{
compatible = "zmk,behavior-macro";
label = "macro_right_dragon";
#binding-cells = <0>;
bindings = <&kp F>, <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_release &kp F>;
};
macro_left_dragon: macro_left_dragon{
compatible = "zmk,behavior-macro";
label = "macro_left_dragon";
#binding-cells = <0>;
bindings = <&kp S>, <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_release &kp S>;
};
macro_left_qtr_cir: macro_left_qtr_cir{
compatible = "zmk,behavior-macro";
label = "macro_left_qtr_cir";
#binding-cells = <0>;
bindings = <&kp D>, <&macro_press &kp D>, <&macro_press &kp S>, <&macro_release &kp D>, <&macro_release &kp S>, <&kp S>;
};
macro_right_qtr_cir: macro_right_qtr_cir{
compatible = "zmk,behavior-macro";
label = "macro_right_qtr_cir";
#binding-cells = <0>;
bindings = <&kp D>, <&macro_press &kp D>, <&macro_press &kp F>, <&macro_release &kp D>, <&macro_release &kp F>, <&kp F>;
};
macro_func_block: macro_func_block{
compatible = "zmk,behavior-macro";
label = "macro_func_block";
#binding-cells = <0>;
bindings = <&kp F>, <&kp U>, <&kp N>, <&kp C>, <&kp SPACE>, <&kp SPACE>, <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>, <&kp SPACE>, <&kp MINUS>, <&kp GREATER_THAN>, <&kp SPACE>, <&kp LEFT_BRACE>, <&kp RETURN>, <&kp UP>, <&kp RIGHT>;
};
macro_if_block: macro_if_block{
compatible = "zmk,behavior-macro";
label = "macro_if_block";
#binding-cells = <0>;
bindings = <&kp I>, <&kp F>, <&kp SPACE>, <&kp SPACE>, <&kp LEFT_BRACE>, <&kp RETURN>, <&kp UP>, <&kp LEFT>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};